<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Articles List</title>
    <!-- 부트스트랩 CSS 포함 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Flash 메시지 출력 -->
<div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${msg}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container mt-4">
    <h1>게시판 글 목록</h1>
    <!-- 부트스트랩 테이블 -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <!-- articles 리스트 반복 -->
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}"></td>
            <td><a th:href="@{/api/articles/find/{id}(id=${article.id})}" th:text="${article.title}"></a></td>
            <td th:text="${article.title}"></td>
            <td th:text="${article.content}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/api/articles/create">새 글 작성하기</a>

</div>
<!-- 부트스트랩 JS와 의존성 스크립트 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
